.navbar-brand {
    padding-left: 20px;
}

.ImgCart {
    margin-right: 20px;
}

.navbar {
    padding: 10px;
}

.CartW {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.Categories {
    display: flex;
    align-items: center;
}
  
.Option {
  
    color: rgb(41, 41, 41);
    text-decoration: none;
    margin: 0 10px;
    align-self: center;
    flex-grow: 0;
    border-style: none;
    cursor: pointer;
}

.Option:hover {
    color: rgb(162, 155, 146);
}
  